@model WebApplication.Models.DeliveryOrderDetailVM

@{
    ViewData["Title"] = "View";
}

<h1>Detail de la commande</h1>

<dl class="row">
    <dt class="col">Nom du plat</dt>
    <dt class="col">Quantité</dt>
    <dt class="col">Nom du restaurant</dt>
    <dt class="col">Adresse</dt>
    <dt class="col">NPA et ville</dt>
</dl>

