@model DTO.DeliveryMan

@{
    ViewData["Title"] = "Welcome";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <h1>Welcome</h1>

    <h2>Nom: @Html.DisplayFor(model => model.FirstNameDelivery)</h2>
</body>
</html>

    

