
@{
    ViewData["Title"] = "Que voulez-vous faire maintenant ?";
}

<h1>Que voulez-vous faire maintenant ?</h1>

<div>
    <a asp-action="Index">Continuer</a>
    <br />
    <a asp-controller="Cart" asp-action="Index">Passer commande</a>
</div>
