@model IEnumerable<RestaurantDishesVM>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <h1>Welcome</h1>

    @foreach (var item in Model)
    {
        <h2 style="color:limegreen">
            @Html.DisplayFor(modelItem => item.RestaurantName)
        </h2>
        <p>
            <b>Addresse : </b>@Html.DisplayFor(modelItem => item.RestaurantAddress)
        </p>
        <p>
            <img src="~/Images/Restaurants/@Html.DisplayFor(modelItem => item.RestaurantImage)" alt="@Html.DisplayFor(modelItem => item.RestaurantName)" width="400" height="400" />
        </p>
        <p>
            <b>Dishes: </b>@Html.DisplayFor(modelItem => item.DishesName)
        </p>
    }
    </body>
</html>
