@model IEnumerable<RestaurantDishesVM>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16">Bienvenue sur VS Eats</h1>

    @foreach (var item in Model)
    {
        <div>
            <h3 class="w3-border-bottom w3-border-green w3-padding-16">
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </h3>
            @{ 
                var nbDishes = item.DishesName.Count;
                //pour savoir le nombre de lignes il y aura
                int nbLignes = (nbDishes / 4) + 1;
                var rest = nbDishes;
            }



            @for (int i = 0; i < nbLignes; i++)
            {
                <div class="w3-row-padding">
                    @for (int j = i * 4; j < i * 4 + 4; j++)
                    {
                    <div class="w3-col l3 m6 w3-margin-bottom">

                        @if (rest > 0)
                        {
                        <div class="w3-display-container">

                            <img src="~/Images/Dishes/@Html.DisplayFor(modelItem => item.DishImage[j])" alt="@Html.DisplayFor(modelItem => item.DishesName[j])" width="257" height="200" />

                            <div class="w3-display-topleft w3-green w3-padding">
                                @Html.ActionLink(item.DishesName[j], "Dishes", "Home", new { id = item.DishesId[j] }, null)
                            </div>
                            <div class="w3-display-bottomright w3-light-grey w3-padding">
                                @Html.DisplayFor(modelItem => item.DishesPrice[j])<label>.00 CHF</label>
                            </div>

                        </div>
                        }

                        @{
                            rest--;
                        }
                    </div>
                    }
                </div>

            
            
            }
        </div>

    }
</body>

