
@{
    ViewData["Title"] = "Choisissez une option";
}

<h1>Choisissez une option :</h1>

<div>
    <a class="btn" asp-action="AddPerson">Nouveau Client</a>
    <br />
    <a class="btn" asp-action="AddDeliveryMan">Nouveau Livreur</a>
</div>
