
@{
    ViewData["Title"] = "Choisissez une option";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}



<div>
    <h1>Choisissez une option :</h1>
    <dl class="row">
        <dt class="col">
            <a class="w3-button w3-green" asp-action="AddPerson">Nouveau Client</a>
        </dt>
        <dt class="col">
            <a class="w3-button w3-green" asp-action="AddDeliveryMan">Nouveau Livreur</a>
        </dt>
        <dt class="col"></dt>
        <dt class="col"></dt>
    </dl>
</div>
